* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2vh;

  padding: 0px;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0px;
}

img {
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: 0 0;
}
p {
  text-align: left;
}
h1 {
  text-align: left;
  margin-left: 10%;
  padding-bottom: 2vh;
  padding-top: 2vh;
  height: fit;
  line-height: 50px;
}
.loading-text {
  height: 60vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;

  align-items: center;
  gap: 10%;
}
button {
  height: 35px;
  padding-left: 2px;
  padding-right: 2px;
}
.lightbox {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: blue;
  height: 100vh;
}
.selected-img {
  height: 80vh;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 50px;
  margin-top: 0.5vh;
  object-fit: contain;
}
.selected-img-close {
  width: 80%;
  margin-left: 10%;
  text-align: left;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2vh;

    padding: 0px;
  }
}
